div{
        font-family: 'Roboto', sans-serif;

}

.header-title{
    animation-name: float;
    animation-duration: 3s;
}



.header-container{
animation-name: apear;
animation-duration: 2s;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
    
}

@keyframes apear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.header{
        box-sizing: content-box;
            width: 700px;
            height: 220px;
            background-color: #5374ac;
            color: #141c33;
            border-radius: 15px;
            text-align: start;


    margin: 30px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600px;
    font-size: 60px;
}

.header-subtitle{
    background-color: #141c33;
    color:#ffffffbf;
    animation-name: apear;
animation-duration: 3s;
    border-radius: 15px;

    
    padding: 30px 20px;
    box-sizing: content-box;
    width: 197%;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400px;
    font-size: 19px;
    text-align: start;
    position: relative;
    bottom: 60px;
}

.header-image{
    margin: 0px;
    padding: 0px;
    text-align: end;
}

.image{
        animation-name: float;
    animation-duration: 1s;
    margin-right: 30px;
    padding: 0px;
    text-align: end;
    width: 650px;
    height: 400px;
    image-resolution: inherit;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    bottom: 250px;
    max-width: 90%;
    max-height: 90%;
    
}


@media screen and (max-width: 600px) {
.header{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90%;
    text-align: start;
    
}
.header-title{
    margin: 0;
    padding: 0;
    height: auto;
    font-size: 50px;
    text-align: start;
    padding: 0%;
    height: 100%;
    padding-bottom: 120px;
    
    
}
.header-subtitle{
    margin: 0;
    padding: 0;
    width: 95%;
    height: 100%;
    padding: 10px;
    margin: auto;
    text-align: start;
    bottom: 0px;
}
.image{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    bottom: 0px;
    max-width: 100%;
    max-height: 100%;
    
}

}